*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
.intro_bg{
    background-image: url("background.png");
    width: 100%;
    height: 718px;
}
.header{
    display: flex;
    width: 100%;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.2);
}
.searchArea{
    width: 300px;
    height: 40px;
    background: rgba(143, 143, 143, 0.5);
    border-radius: 5px;
    margin-top: 24px;
    margin-left: 150px;
}
.searchArea > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background:rgba(0, 0, 0, 0.0);
    color: white;
    padding-left: 10px;
}
.searchArea > form > span{
    width: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.nav{
    display: flex;
    width:calc(1280px - 300px);
    justify-content: flex-end;
    line-height: 86px;
}
.nav > li{
    margin-left: 84px;
}
.nav > li > a{ 
    color: white;
    font-weight: bold;
}
.intro_text{
    width: 100%;
    margin: 231px auto 231px auto; /*상좌하우*/
    text-align: center;
}
.intro_text > h1,
.intro_text > h4{
    color: white;
}
.intro_text > h1{
    font-weight: 10px;
    font-size: 48px;
}
.intro_text > h4{
    font-size: 20px;
    font-weight: 20px;
}
.amount{
    position: relative;
    top: -66px;
    background: rgb(255, 255, 255);
    display: flex;
    width: 1280px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.8);/*오른쪽 밑 뿌려지는 정도*/
    
}
.amount > li{
    flex: 1;
    text-align: center;
    width: 320px;
    height: 132px;
}
.amount > li:not(:last-child) > div{
    border-right: 1px solid rgb(73, 73, 73);
}
.amount > li > div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
}
.contents1{
    font-size: 20px;
    text-align: center;
}
.result{ 
    margin-top: 3px;
    font-size: 24px;
    font-weight: bold;
}
.main_text{
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 601px;
    margin-top: -132px;
}
.main_text > h1 {
    padding-top: 126px;
    text-align: center;
}
.icons{
    display: flex;
    width: 1280px;
    margin: auto;
}
.icons > li{
    flex: 1;
    height: 302px;
    width: 413px;
    background: white;
    margin-top: 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.icons > li:not(:last-child){
    margin-right: 20px;
}
.icon_1 {
    margin-top: 36px;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.intext{
    font-size: 14px;
}
.icons .intext {
    padding-top: 15px;
    margin: auto;
    width: 220px;
}
.btn_more{
    font-size: 12px;
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    color: white;
    margin: auto;
    line-height: 30px;
    margin: 15px auto;
    cursor: pointer;
}
.main_text2{
    width: 100%;
    height: 659px;
}
.main_text2 > h1{
    padding-top: 50px;
    text-align: center;
}
.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}
.service_1 > li{
    flex: 1;
    background: black;
}
.contents2{
    font-size: 18px;
}
.service > .contents2{
    padding-left: 20px;
}
.service > .contents2 > h2{
    margin-bottom: 27px;
}
.main_text3{
    width: 100%;
    height: 418px;
    background-image: url(./밑바닥.png);
}
.main_text3 > ul{
    display: flex;
    padding-top: 138px;
}
.main_text3 > ul > li{
    flex: 1;
    text-align: center;
}
.main_text3 > ul > li > .explain{
    margin-top: 20px;
    color: white;
}
.main_text3 > ul > li > .connect_1 > h1 {
    color: white;
}
.more_1{
    cursor: pointer;
    border: 1px solid white;
    height: 40px;
    width: 220px;
    color: white;
    line-height: 40px;
    margin: 40px auto;
}
footer{
    display: flex;
    background: #1f1f1f;
    width: 100%;
    height: 244px;
}
footer > :first-child{
    font-size: 50px;
    color: white;
    text-align: center;
    flex: 3;
    margin: auto;
}
footer > :last-child{
    margin-top: 51px;
    flex: 9;
    color: white;
    line-height: 30px;
}